<% div("breadcrumb-base", id:) do %>
    <div class="link">
        <a href="<%= make_path %>">
            <%= svg("home") %>
            <span class="padded">
            <%= project_name %>
        </span>
        </a>
    </div>
    <% items.each.with_index do |i, idx| %>
        <%= svg("breadcrumb_separator") %>
        <div class="link">
            <% if i[:parents].empty? && idx == 0 %>
                <a href="<%= make_path("/components.html") %>">
                <span class="padded">
                    <%= i[:name] %>
                </span>
                </a>
            <% else %>
                <a href="<%= make_path((i[:parents] + [idx == 0 ? nil : i[:name]]).flatten.compact) %>.html">
            <span class="padded">
                <%= i[:name] %>
            </span>
                </a>
            <% end %>
        </div>
    <% end %>
<% end %>
