<% div("documentation-block-base", id:) do %>
    <% if doc.nil? || doc.empty? %>
        <div class="faded">(No documentation available)</div>
    <% else %>
        <!--
        <%= doc %>
        -->
        <% doc[:value].each do |i| %>
            <% if i[:type] == :text_block %>
                <%= text_block contents: i[:value] %>
            <% elsif i[:type] == 'code_example' %>
                <%= markdown(source: i[:contents]) %>
            <% elsif i[:type] == :field_block %>
                <%= field_block(fields: i[:value]) %>
            <% elsif i[:type] == :neutral_identifier %>
                <code><%= i[:value] %></code>
            <% else %>
                <div class="unknown-object">
                    Unknown object <%= i[:type] %>
                    <!-- <%= i.to_json %> -->
                </div>
            <% end %>
        <% end %>
    <% end %>
<% end %>
