<% div("method-display-base", id:) do %>
    <% if (dec = source_of(item, parent)) %>
        <%= svg(dec.to_s.downcase, class_name: "decoration", title: dec.to_s.capitalize) %>
    <% end %>
    <% unless omit_type %>
        <%= typedef(name: "#{item.type.capitalize} Method") %>
    <% end %>
    <a class="dashed" href="<%= link_for(item) %>">
        <div class="container">
            <div class="method-name"><%= item.name %></div>
            <% if item.parameters %>
                <div class="argument-container<%= item.parameters.empty? ? "" : " not-empty" %>">
                    <% item.parameters.map do |i| %>
                        <%= method_argument(arg: i) %>
                    <% end %>
                </div>
            <% end %>
        </div>
    </a>
    <div class="label"><%= item.doc&.dig(:meta, :visibility_annotation) || item.visibility %></div>
<% end %>
