<% div("reference-base", id:) do %>
    <% if unresolved %>
        <span class="unresolved" title="Docrb could not resolve this reference. It may be from an external library or dynamically-generated method.">
            <%= svg('questionmark') %>
            <span><%= ref[:contents] %></span>
        </span>
    <% else %>
    <a href="<%= path.join('/') %>">
        <span class="resolved <%= ref[:ref_type] %>">
            <span><%= ref[:contents] %></span>
        </span>
    </a>
    <% end %>
<% end %>
