<% div("reference-base", id:) do %>
    <% if unresolved %>
        <span class="broken"><%= value || path.last %></span>
    <% elsif ref_type == :pure %>
        <a href="<%= link_for(object) %>">
        <span class="resolved <%= ref_type %>">
            <span><%= value %></span>
        </span>
        </a>
    <% else %>
        <a href="<%= path.join('/') %>.html">
        <span class="resolved <%= ref_type %>">
            <span><%= value || path.last %></span>
        </span>
        </a>
    <% end %>
<% end %>
